{% extends 'master_template.html' %}
{% load static %}

{% block slider %}
{% endblock %}

{% block menu %}
        <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/courselist2/" class="current">Course</a></li>
            <li><a href="/gallery/">Gallery</a></li>
            <li><a href="/login/">Login</a></li>
            <li><a href="/register/">Register</a></li>
        </ul>    
        {% endblock %}	

{% block content %}
<div id="tooplate_main_top"></div>        
<div id="tooplate_main">
    <div>
              <div class="col_allw280 fp_service_box">
        <div class="cleaner"></div>
    </div>
</div>
<div class="col_w900 col_w900_last">
<div  >
<div class="con_tit_01" >
<span>
Course List
</span></div>
<div style="padding: 0 76px;">
    <table class="course-list2" border="1">
    <tr>
        <th>Course id</th>
        <th>Course name</th>
        <th>Duration</th>
        <th>Fees</th>
        <th>Course Details</th>
        <th>Image</th>
    </tr>
    {% for x in res %}
    <tr>
        <td>{{ x.courseid }}</td>
        <td>{{ x.nm }}</td>
        <td>{{ x.duration }}</td>
        <td>{{ x.fees }}</td>
        <td>{{ x.coursedetail }}</td>
        <td>
            <img src="{{ media_url }}{{ x.courseicon }}" alt="" height="50" width="80">
        </td>
    </tr>
    {% endfor %}
</table>
</div>

<div class="cleaner"></div>
       </div>
        </div>
    <div class="cleaner"></div>
</div> <!-- end of main -->
{% endblock %}
