{% extends 'master_template.html' %}
{% load static %}
{% block slider %}
{% endblock %}

{% block menu %}
        <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/courselist2/">Course</a></li>
            <li><a href="/gallery/"  class="current" >Gallery</a></li>
            <li><a href="/login/">Login</a></li>
            <li><a href="/register/">Register</a></li>
        </ul>    
{% endblock %}	

{% block content %}
<div id="tooplate_main_top"></div> 
<div id="tooplate_main">        
    <div id="gallery">
            <ul>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img1.jpg' %}" title=" ">
                    <img src="{% static 'images/imgg/img1.jpg' %}" alt="Image 01" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img2.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img2.jpg' %}" alt="Image 02" />
                    </a>
                  </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img3.png' %}" title="">
                    <img src="{% static 'images/imgg/img3.png' %}" alt="Image 03" />
                    </a>
                </li>
                <li class="fouth">
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img4.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img4.jpg' %}" alt="Image 04" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img5.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img5.jpg' %}" alt="Image 05" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img6.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img6.jpg' %}" alt="Image 06" />
                    </a>
                </li>                   
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img7.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img7.jpg' %}" alt="Image 07" />
                </a>
                </li>
                <li class="fouth">
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img8.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img8.jpg' %}" alt="Image 08" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img9.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img9.jpg' %}" alt="Image 01" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img10.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img10.jpg' %}" alt="Image 02" />
                    </a>
                  </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img11.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img11.jpg' %}" alt="Image 03" />
                    </a>
                </li>
                <li class="fouth">
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img12.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img12.jpg' %}" alt="Image 04" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img13.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img13.jpg' %}" alt="Image 05" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img14.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img14.jpg' %}" alt="Image 06" />
                    </a>
                </li>                   
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img15.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img15.jpg' %}" alt="Image 07" />
                </a>
                </li>
                <li class="fouth">
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img16.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img16.jpg' %}" alt="Image 08" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img1.jpg' %}" title=" ">
                    <img src="{% static 'images/imgg/img1.jpg' %}" alt="Image 01" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img2.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img2.jpg' %}" alt="Image 02" />
                    </a>
                  </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img3.png' %}" title="">
                    <img src="{% static 'images/imgg/img3.png' %}" alt="Image 03" />
                    </a>
                </li>
                <li class="fouth">
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img4.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img4.jpg' %}" alt="Image 04" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img5.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img5.jpg' %}" alt="Image 05" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img6.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img6.jpg' %}" alt="Image 06" />
                    </a>
                </li>                   
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img7.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img7.jpg' %}" alt="Image 07" />
                </a>
                </li>
                <li class="fouth">
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img8.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img8.jpg' %}" alt="Image 08" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img9.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img9.jpg' %}" alt="Image 01" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img10.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img10.jpg' %}" alt="Image 02" />
                    </a>
                  </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img11.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img11.jpg' %}" alt="Image 03" />
                    </a>
                </li>
                <li class="fouth">
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img12.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img12.jpg' %}" alt="Image 04" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img13.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img13.jpg' %}" alt="Image 05" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img14.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img14.jpg' %}" alt="Image 06" />
                    </a>
                </li>                   
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img15.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img15.jpg' %}" alt="Image 07" />
                </a>
                </li>
                <li class="fouth">
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img16.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img16.jpg' %}" alt="Image 08" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img1.jpg' %}" title=" ">
                    <img src="{% static 'images/imgg/img1.jpg' %}" alt="Image 01" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img2.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img2.jpg' %}" alt="Image 02" />
                    </a>
                  </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img3.png' %}" title="">
                    <img src="{% static 'images/imgg/img3.png' %}" alt="Image 03" />
                    </a>
                </li>
                <li class="fouth">
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img4.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img4.jpg' %}" alt="Image 04" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img5.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img5.jpg' %}" alt="Image 05" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img6.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img6.jpg' %}" alt="Image 06" />
                    </a>
                </li>                   
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img7.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img7.jpg' %}" alt="Image 07" />
                </a>
                </li>
                <li class="fouth">
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img8.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img8.jpg' %}" alt="Image 08" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img9.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img9.jpg' %}" alt="Image 01" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img10.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img10.jpg' %}" alt="Image 02" />
                    </a>
                  </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img11.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img11.jpg' %}" alt="Image 03" />
                    </a>
                </li>
                <li class="fouth">
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img12.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img12.jpg' %}" alt="Image 04" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img13.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img13.jpg' %}" alt="Image 05" />
                    </a>
                </li>
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img14.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img14.jpg' %}" alt="Image 06" />
                    </a>
                </li>                   
                <li>
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img15.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img15.jpg' %}" alt="Image 07" />
                </a>
                </li>
                <li class="fouth">
                    <h5> </h5>
                    <a href="{% static 'images/imgg/img16.jpg' %}" title="">
                    <img src="{% static 'images/imgg/img16.jpg' %}" alt="Image 08" />
                    </a>
                </li>
                
                
            </ul>
  
        <div class="cleaner"></div>
    </div>
    
    <div class="cleaner"></div>
</div> <!-- end of main -->
{% endblock %}