{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Activity School</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link href="{% static 'css/tooplate_style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dist/flickity.min.css' %}" rel="stylesheet">

<!-- start bootstrap... -->
 
<!-- end bootstrap... -->
<!-- <script>
    check.onclick= togglepassword;

    function togglepassword(){
        if (check.checked) pass.type ="text";
        else pass.type="password";
    }
</script> -->
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<!-- <script src="{% static 'js/jquery.nivo.slider.js' %}" type="text/javascript"></script> -->

<script src="{% static 'dist/flickity.pkgd.min.js' %}"></script>

<script type="text/javascript">
$('.carousel').flickity();
</script>
 
</head>
<body>

<div id="tooplate_wrapper">
    {%  block header %}
	<div id="tooplate_header">
    	
        <div id="site_title" class="logo"><img class="logo" src="{% static '../static/images/logo-.png' %}" height="90" width="90" alt="">
        <h1 >ACTIVITY SCHOOL</h1></div>
        
        <div id="social_box">
            <a href="#"><img src="{% static '../static/images/tw.png' %}" height="50" width="50" alt="twitter" id="twitter"/></a>
            <a href="#"><img src="{% static 'images/inst1.png' %}" height="50" width="50"  alt="instagram" /></a>
            <a href="#"><img src="{% static 'images/linkdin.webp' %}" height="50" width="50"  alt="linkdin" /></a>
        </div>
        
        <div class="cleaner"></div>
    </div>
    {% endblock %}
    <div id="tooplate_menu">
        
        {% block menu %}
        <ul>
            <li><a href="/" class="current">Home</a></li>
            <li><a href="/courselist2/">Course</a></li>
            <li><a href="/gallery/">Gallery</a></li>
            <li><a href="/login/">Login</a></li>
            <li><a href="/register/">Register</a></li>
        </ul>    
        {% endblock %}	
        
        <!-- <div id="search_box">
            <form action="#" method="get">
                <input type="text" value="Search" name="q" size="10" width="20" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                <input type="submit" name="Search" value="" id="searchbutton" title="Search" />
            </form>
        </div> -->
        <div class="cleaner"></div>
    </div> <!-- end of tooplate_menu -->

    {% block slider  %}
    <div style="clear: both;margin: 0 10px 3px 10px;">
        <div class="carousel" data-flickity='{"prevNextButtons": true, "fade": true, "resize": true,
        "autoPlay": 1500, "pageDots": false,"wrapAround": true}'>
            <div class="carousel-cell" ><img src="{% static 'images/slider3.jpg' %}" alt="Image 01" title="Capturing the Essence" height="290"  width="940" /></div>
            <div class="carousel-cell"><img src="{% static 'images/slider4.jpg' %}" alt="Image 01" title="Moments that Define Us" height="290"  width="940" /></div>
            <div class="carousel-cell"><img src="{% static 'images/slider5.jpg' %}" alt="Image 01" title="Unleashing Creativity" height="290"  width="940" /></div>
            <div class="carousel-cell"><img src="{% static 'images/slider2.jpg' %}" alt="Image 01" title="Education in Action" height="290"  width="940" /></div>
            <div class="carousel-cell"><img src="{% static 'images/slider4.jpg' %}" alt="Image 01" title="Smiles and Learning" height="290"  width="940" /></div>
            <div class="carousel-cell"><img src="{% static 'images/slider5.jpg' %}" alt="Image 01" title="Empowering Minds" height="290"  width="940" /></div>
        </div>
            
             <!-- <div id="slider">
                <a href="#"><img src="{% static 'images/Gallery/' %}" alt="Image 01" title="Lorem ipsum dolor sit amet." /></a>
                <a href="#"><img src="{% static 'images/slideshow/02.jpg' %}" alt="Image 02" title="Nullam ante leo, consectetur eget." /></a>
                <a href="#"><img src="{% static 'images/slideshow/03.jpg' %}" alt="Image 03" title="Suspendisse sit amet enim elit." /></a>
                <a href="#"><img src="{% static 'images/slideshow/04.jpg' %}" alt="Image 04" title="Nulla faucibus luctus quam eget placerat." /></a>
                <a href="#"><img src="{% static 'images/slideshow/05.jpg' %}" alt="Image 05" title="Phasellus aliquet viverra posuere." /></a>
            </div> -->
 	</div>
	{% endblock %}

    {% block content %}
    <!-- <div id="tooplate_main_top"></div>
    <div id="tooplate_main">
        <div >
            <div class="col_allw280 fp_service_box">
                <div class="cleaner"></div>
            </div>
    
            <div class="col_w900 col_w900_last">
                <div style="display: inline-flex;">
                    <div class="col_w580 " style="width: 70%;text-align: justify;padding-right: 3%;">
                        <div class="con_tit_01">
                            <h1> Welcome <span>to Activity School</span></h1>
                        </div>
                        <img src="{% static './../static/images/mainbody.webp' %}" alt="Image" height="160" width="350"
                            class="image_wrapper image_fl" />
                        <p class="color-black"> The term "school activities" applies to a wide range of skill-based games,
                            strategies and interactive activities that support students' educational development. The goal
                            of all activities is to enhance students' understanding, skill or effectiveness in a specific
                            area by engaging multiple styles of learning. The school activity also serves to infuse fun into
                            learning as well as bolster student confidence and the ability to think critically. </p><br>
                        <p class="color-black">There are many methods of teaching all K-12 subjects. Each discrete subject
                            has a
                            series of topics that can be taught or reinforced through activities in which students directly
                            apply knowledge and information to discover meaning. For example, educators may use role play in
                            a
                            social studies class. Students participate by acting out opposing sides of an issue to better
                            understand the content. For fun lessons for middle school students in earth science, a teacher
                            might
                            initiate a search and discovery activity in which students identify real world phenomenon they
                            have
                            studied. Teachers wanting to include first day of school icebreakers for kids can integrate fun
                            games related to the scope and sequence of the grade level.</p>
                        <div class="cleaner"></div>
                    </div>
    
                    <div class="col_w280 " style="width: 27%;">
    
                        <h2 style="text-align: center; margin: 0 0 20px 0; padding: 0 0 20px;">Upcoming Batches</h2>
                        <div class="lbe_box">
                            <p class="date">July 27, 2023</p>
                            <h3>DANCING</h3>
                            <p class="color-black">Dancing is an activity has been added to our long list of Extracurricular
                                Activities</p>
    
                        </div>
                        <div class="lbe_box">
                            <p class="date">August 05, 2023</p>
                            <h3>ROLLER SKATING</h3>
                            <p class="color-black">Now your child can regale in life on four wheels. Mr Chandrakant Meher
                                will teach this graceful
                                art of roller skating.</p>
    
                        </div>
                        <div class="lbe_box">
                            <p class="date">August 10, 2023</p>
                            <h3>FOOTBALL</h3>
                            <p class="color-black">Trained in the beautiful game by one of the most respected names in
                                sports coaching, Mr. Abdul
                                Sattar Pawaskar has been credited with finding and developing the best football talant in
                                the
                                city.</p>
                        </div>
                        <div class="cleaner"></div>
                    </div>
                </div>
                <hr>
                <div class="pt-2">
                    <div>
                        <h2 class="title-yellow">VISION</h2>
    
                        <div class="inline-flex">
                            <p class="row-60" style="padding-right: 2%;">Our single-minded focus is on developing generation
                                after generation of responsible and enriched
                                citizens who take pride and effort to excel not just in academia but across spheres and
                                spectrums. And while we are convinced that education is the light that brightens futures, we
                                also focus in no small measure on overall development of the student.</p>
                            <p class="row-40">
                                <img src="{% static './../static/images/blog_image_02.jpg' %}" height="170" width="350"
                                    alt="">
                            </p>
                        </div>
                     </div>
                   <div>
                        <h2 class="title-yellow">MISSION</h2>
                        <div class="inline-flex">
                            <span class="row-25">
                                <img src="{% static './../static/images/rocket_icon.jpg' %}" alt="">
                            </span>
                            <span class="row-80">
                                <p>At New Activity School, we literally learn while we play. Our experienced and capable
                                    staff
                                    through their own unique methods are responsible for developing and stimulating the
                                    minds of
                                    future generations in a way where the teachings of today become experiences of a
                                    lifetime.</p>
                            </span>
                        </div>
                     </div>
                </div>
                <div class="main_div_genesis">
                    <div class="genesis">
                        <h1>GENESIS</h1>
                        <h2>We started with 5. We are now 500</h2>
                    </div>
                    <div>
                        <p>It has been 05 years since the walls of our great Institution first heard the thirsting humming
                            of a mind desiring to enrich itself with the greatest blessing of them all. Education. Yes on
                            September 3nd 2018, with 5 students [one including her own infant, Daraius] Mrs Dolat Doongaji
                            embarked on a voyage to educate and enrich minds within the reaches of her world. Today 05 years
                            later, New Activity School with a maximum capacity of 400 students is one of the premier primary
                            education institutions in Mumbai. But like any monumental journey, this too was fraught with
                            uncertainties and confusion. Like any nascent venture, New Activity School also started against
                            the bedlam of tight deadlines.</p>
                    </div>
                </div>
                <div>
                    <div class="pt-4">
                        <div class="sub-data">
                             <h1 class="genesis" style="text-align: center;">Extra Curricular Activities</h1>
                        <p>New Activity believes in learning while the children play and that is why there are a host
                            ofextra Curricular activities on offer as a part of the everyday time table</p>
                        </div>
                       
                    </div>
                    <div  class="pt-5">
                        <div class="inline-flex">
                            <span class="row-50">
                                <h2 class="title-yellow">FOOTBALL</h2>
                                <p>Trained in the beautiful game by one of the most respected names in sports coaching, Mr. Abdul Sattar Pawaskar has been credited with finding and developing the best football talent in the city.
                                </p>
                            </span>
                            <span class="row-50"><img src="{% static '../static/images/FOOTBALL.png' %}" alt=""></span>   
                        </div>
    
                        <div class="pt-5">
                            <div class="inline-flex">
                                <span class="row-50">
                                     <img src="{% static '../static/images/athletics.jpg' %}" alt="">
                                </span>
                                <span  class="row-50">
                                    <h2 class="title-yellow">ATHELETICS</h2>
                                    <p>Watch your child burn up the track with the specialised Athletics training by Mr Abdul Sattar  Pawaskar. A national level athlete himself, he has the eye to spot the pedigree your child may have to offer.
                                    </p>
                                </span>
                             </div>
                        </div>
                        <div class="pt-5">
                            <div class="inline-flex">
                                <span class="row-50">
                                    <h2 class="title-yellow">MALAKHAMB</h2>
                                     <p>If your child is a dare devil by nature then let him blow off a little steam with these unique rope exercises, which are a wonder to watch. A sport once practiced by sages and heretics of ancient India, it is wonderful to improve concentration, and calm the mind.  </p>
                                </span>
                                <span class="row-50">   
                                    <img src="{% static '../static/images/MALAKHAMB-1.png' %}" alt="">  
                                </span>
                            </div>
                        </div>
    
                        <div class="pt-5">
                            <div class="inline-flex">
                                 <span class="row-50">   
                                    <img src="{% static '../static/images/gymnastic.jpg' %}" alt="">  
                                </span>
                                <span class="row-50">
                                    <h2 class="title-yellow">GYMNASTICS</h2>
                                     <p>Learn the supple body art form of poise and magnificence. A nascent sport in India which is slowly and surely picking up in a big way is now available to your children. Mr. Chandrakant Meher conducts this activity for children from Montessori to Std. IV.</p>
                                </span>
                               
                            </div>
                        </div>
    
                        <div class="pt-5">
                            <div class="inline-flex">
                                <span class="row-50">
                                    <h2 class="title-yellow">ROLLER SKATING</h2>
                                     <p>Now your child can regale in life on four wheels. Mr. Chandrakant Meher will teach this graceful art of roller skating. This activity is for children from Pre Ist to Std. IV.</p>
                                </span>
                                <span class="row-50">   
                                    <img src="{% static '../static/images/ROLLER.jpg' %}" alt="">  
                                </span>
                            </div>
                        </div>
    
    
                        <div class="pt-5">
                            <div class="inline-flex">
                                 <span class="row-50">   
                                    <img src="{% static '../static/images/dance.jpg' %}" alt="">  
                                 </span>
                                <span class="row-50">
                                    <h2 class="title-yellow">DANCING</h2>
                                     <p>Dancing is an activity has been added to our long list of Extracurricular Activities. It gives the children a much needed break from the grind of studies and helps them to bring out their creative best in a relaxed and enjoyable atmosphere.</p>
                                </span>
                               
                            </div>
                        </div>
    
                        <div class="pt-5">
                            <div class="inline-flex">
                                <span class="row-50">
                                    <h2 class="title-yellow">ELOCUTION</h2>
                                     <p>This activity helps to improve diction and to overcome stage fright. The children under her expert tutelage also put up short plays and skits during assemblies.</p>
                                </span>
                                <span class="row-50">   
                                    <img src="{% static '../static/images/elocution.png' %}" alt="">  
                                 </span>
                            </div>
                        </div>
    
                      
                      </div>
                </div>
    
            </div>
        </div>
        <div class="cleaner"></div>
    
    </div> end of main -->
    {% endblock %}

    {% block footer %}
    <div id="tooplate_footer">
    	Copyright © 2023 <a href="#"> ACTIVITY SCHOOL</a> 
    </div> <!-- end of footer -->
    {% endblock %}
        
</div> <!-- end of wrapper -->
</body>

</html>